<div class="container">
  <div class="img">
  </div>
  <div class="right-block">
    <div class="desktop-align">
      <div class="form">
        <div class="logo-desktop">
          <div class="logo-top"><img src="/assets/img/logo-login.png" alt="logo-login" /></div>
          <div class="nom-entreprise">UI UNICORE</div>
        </div>

        <div>
          <h2 class="titre">Nice to meet you again</h2>
        </div>
        <form class="form" method="post">
          <div class="input">
            <div>

              <app-input cssLabel="label" css="champ" type="text" name="email" label="Email or number"></app-input>
              <!-- <app-input
              cssLabel="label" css="champ" type="text"
              name="email" label="Email or number"
              (emitOutput)="emailListener($event)">
            </app-input> -->
              <!-- <input class="champ" type="text" id="login" name="email_num" placeholder="Email or number"> -->
            </div>
            <div>

              <app-input cssLabel="label" css="champ" type="password" name="password" label="Enter password">
              </app-input>
              <!-- <label class="label" for="champ">Password</label> -->
              <!-- <app-input
              cssLabel="label" css="champ" type="password"
              name="password" label="Enter password"
              (emitOutput)="emailListener($event)">
            </app-input> -->
              <!-- <input class="champ" type="password" id="password" name="password" placeholder="Enter password"> -->
            </div>
          </div>
          <div class="connexion">
            <div class="check">
              <app-checkbox></app-checkbox>
              <span class="remember">remember me</span>
            </div>
            <a href="" class="forgot"><span>forgot password?</span></a>
          </div>
          <app-btn name="Sign in" css="btn"></app-btn>
        </form>



        <!-- <button class="btn"><span class="text">Sign In</span></button> -->

        <hr width="100%" color="#E5E5E5">


        <app-btn css="btn" name="Or signin width Google" id="google"></app-btn>

        <!-- <button class="btn" id="google"><img src="/assets/img/logo-google.png" alt="logo-google">
        <span class="text"> Or signin with Google</span>
      </button> -->
        <div class="account">
          <span class="text">Don't have an account ? <a class="signup" href="">Sign up now</a></span>
        </div>
      </div>
      <div class="logo">
        <div class="logo-mobile"><img src="/assets/img/logo-login.png" alt="logo-login" /></div>
        <div class="nom-entreprise">UI UNICORE</div>
      </div>
      <div class="signature">
        <a class="insta" href="">@uiunicom</a>
        <span class="dateCrea">Perfect Login 2021</span>
      </div>
    </div>
  </div>
</div>
