<div class="container">
  <div class="img">
  </div>
  <div class="right-block">
    <div class="desktop-align">
      <div class="form">
        <div class="logo-desktop">
          <div class="logo-top"><img src="/assets/img/logo-login.png" alt="logo-login" /></div>
          <div class="nom-entreprise">UI UNICORE</div>
        </div>

        <div>
          <h2 class="titre">Nice to meet you again</h2>
        </div>
        <form class="form" #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="input">
            <div>
              <app-input cssLabel="label" css="champ" type="text" name="email" label="Email or number"
                [model]="auth.email">
              </app-input>
            </div>
            <div>
              <app-input cssLabel="label" css="champ" type="password" name="password" label="Enter password"
                [model]="auth.password">
              </app-input>
            </div>
          </div>
          <div class="connexion">
            <div class="check">
              <app-checkbox name="remenber" [model]="auth.remenber"></app-checkbox>
              <span class="remember">remember me</span>
            </div>
            <a routerLink="/forgot-password" class="forgot"><span>forgot password?</span></a>
          </div>
          <app-btn
            name="Sign in" css="btn">
          </app-btn>
        </form>

        <hr width="100%" color="#E5E5E5">

        <app-btn
          css="btn" name="Or signin width Google" id="google">
        </app-btn>

        <div class="account">
          <span class="text">Don't have an account ? <a class="signup" routerLink="/register">Sign up now</a></span>
        </div>
      </div>
      <div class="logo">
        <div class="logo-mobile"><img src="/assets/img/logo-login.png" alt="logo-login" /></div>
        <div class="nom-entreprise">UI UNICORE</div>
      </div>
      <div class="signature">
        <div class="signature-gauche">
          <img class="logo-signature" src="/assets/img/logo-unicorn.png" alt="logo-signature">
          <a class="insta" href="">@uiunicom</a>
        </div>
        <span class="dateCrea">©Perfect Login 2021</span>
      </div>
    </div>
  </div>
</div>
