<div class="container">
  <div class="img">
  </div>
  <div class="right-block">
    <div class="desktop-align">
      <div class="form">
        <div class="logo-desktop">
          <div class="logo-top"><img src="/assets/img/logo-login.png" alt="logo-login" /></div>
          <div class="nom-entreprise">UI UNICORE</div>
        </div>
        <!-- /********************** block droit **********************/ -->
        <div>
          <h2 class="titre">Forgot password !</h2>
        </div>
         <!-- /********************** form **********************/ -->
        <form class="form" #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="input">
            <div>
              <app-input cssLabel="label" css="champ" type="text" name="Email" label="Enter your email"
                [model]="auth.email">
              </app-input>
            </div>
          </div>
          <div class="connexion">
            <div class="check">
            </div>
            <a routerLink="/sign-in" class="forgot"><span>Retry login</span></a>
            <!-- /********************** btn **********************/ -->
          </div>
          <app-btn
          name="New password" css="btn">
        </app-btn>
        </form>

        <hr width="100%" color="#E5E5E5">
        
      </div>
       <!-- /********************** logo **********************/ -->

      <div class="logo">
        <div class="logo-mobile"><img src="/assets/img/logo-login.png" alt="logo-login" /></div>
        <div class="nom-entreprise">UI UNICORE</div>
      </div>
      <div class="signature">
        <div class="signature-gauche">
          <img class="logo-signature" src="/assets/img/logo-unicorn.png" alt="logo-signature">
          <a class="insta" href="">@uiunicom</a>
        </div>
        <span class="dateCrea">©Perfect Login 2021</span>
      </div>
    </div>
  </div>
</div>
