<div class="container">
  <div class="img">
    
  </div>
  <div class="login-form">
    <div class="right-block">
    <h2>Nice to meet you again</h2>
    <form action="/" class="form" method="post">
      <div class="input">
        <div>
          <input class="champ" type="text" id="login" name="email_num" placeholder="Email or number">
        </div>
        <div>
          <input class="champ" type="password" id="password" name="password" placeholder="Enter password">
        </div>
      </div>
    </form>

    <div class="connexion">
      <span class="remember">remember me</span>
      <a href="" class="forgot"><span>forgot password?</span></a>
    </div>

    <button class="btn"><span class="text">Sign In</span></button>

    <br />

    <button class="btn" id="google"><img src="/assets/img/logo-google.png" alt="logo-google"><span class="text">Or sign
        in with Google</span></button>

    <span>Don't have an account ? <a href="">sign up now !</a></span>

    <div class="logo">
      <h4><img src="/assets/img/logo-login.png" alt="logo-login" />UI UNICORE</h4>
    </div>
  </div>

  </div>
</div>
