// .sidebar {

//   align-items: stretch;
//   flex-direction: column;
//   background-color: #1E1F25;

//   .logo {
//       width: 64px;
//       height: 64px;
//       padding: 1em;

//       .logo-img{
//         width: 64px;
//       }
//   }



//   .menu {

//     align-items: center;

//       ul li {
//           padding: 5px;
//           list-style: none;
//           cursor: pointer;
//           margin: 1em auto;
//       }
//       .focus{
//         background-color:blue;

//         border-radius: 10%;
//       }
//   }

// }
.sidebar{
  display:flex;
  flex-flow: column wrap;
  height:100%;
  background-color: #1E1F25;
  .menu{
    display: flex;
    flex: 9;
    align-items: center;
    justify-items:center;
    justify-content:center;
    .selection{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      .item-selection{
        display: flex;
      }
      .item{
        margin:1em;
        cursor: pointer;
        padding: 5px 5px 10px 10px;
      }
      .focus{
        background-image: url('/assets/img/rectangle-item.png');
        width: 25px;
        height: 25px;
        background-position: center;
        margin: 0;
        border-radius: 30%;
      }
    }
  }
  .logo {
    width: 64px;
    height: 64px;
    padding: 1em;
    flex: 1;
    .logo-img{
      width: 64px;
    }
  }

  // .menu{
  //   display: flex;
  //   flex-direction: column;
  //   .selection{
  //     flex-direction: column;
  //   }
  // }
}
