<div class="container">
  <div class="img">
  </div>
  <div class="right-block">
    <div class="desktop-align">
      <div class="form">
        <div class="logo-desktop">
          <div class="logo-top"><img src="/assets/img/logo-login.png" alt="logo-login" /></div>
          <div class="nom-entreprise">UI UNICORE</div>
        </div>
        <!-- /********************** block droit **********************/ -->
        <div>
          <h2 class="titre">Nice to meet you again</h2>
        </div>
        <!-- /********************** form **********************/ -->
        <form class="form" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
          <div class="input">
            <div>
              <app-input-with-out-ng-form cssLabel="label" formControlName="email" css="champ" type="text" name="email"
                label="Email or phone number" (value)="eventEmitter($event)" ngDefaultControl>
              </app-input-with-out-ng-form>

            </div>
            <div>
              <app-input-with-out-ng-form cssLabel="label" formControlName="password" css="champ" type="password"
                name="password" label="Enter password" (value)="eventEmitter($event)" ngDefaultControl>
              </app-input-with-out-ng-form>
            </div>
            <div>
              <app-input-with-out-ng-form cssLabel="label" formControlName="samePassword" css="champ" type="password"
                name="Password" label="Confirme password" (value)="eventEmitter($event)" ngDefaultControl>
              </app-input-with-out-ng-form>
            </div>
          </div>
          <app-btn name="Sign in" css="btn" type="submit">
          </app-btn>
        </form>
        <!-- /********************** logo **********************/ -->

        <div class="logo">
          <div class="logo-mobile"><img src="/assets/img/logo-login.png" alt="logo-login" /></div>
          <div class="nom-entreprise">UI UNICORE</div>
        </div>
      </div>
      <div class="signature">
        <div class="signature-gauche">
          <img class="logo-signature" src="/assets/img/logo-unicorn.png" alt="logo-signature">
          <a class="insta" href="">@uiunicom</a>
        </div>
        <span class="dateCrea">©Perfect Login 2021</span>
      </div>
    </div>
  </div>
