<div class="container">
  <div class="img">
  </div>
  <div class="right-block">
    <div class="desktop-align">
      <div class="form">
        <div class="logo-desktop">
          <div class="logo-top"><img class="rotate" src="/assets/img/solo-logo-octom.png" alt="logo-login" /></div>
          <div class="nom-entreprise">OCTOM</div>
        </div>
        <!-- /********************** block droit **********************/ -->
        <div>
          <h2 class="titre">Nice to meet you again</h2>
        </div>
        <!-- /********************** form **********************/ -->
        <form class="form" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
          <div class="input">
            <div>
              <app-input-with-out-ng-form cssLabel="label" formControlName="email" css="champ" type="text" name="email"
                label="Email or phone number" (value)="setEmail($event)" ngDefaultControl>
              </app-input-with-out-ng-form>
              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['email']">
                  <span class="wrong">email is wrong</span>
                </div>
                <div *ngIf="f['email'].errors['required']">
                  <span class="wrong">email is required</span>
                </div>
              </div>
            </div>
            <div>
              <app-input-with-out-ng-form cssLabel="label" formControlName="password" css="champ" type="password"
                name="password" label="Enter password" (value)="setPassword($event)" ngDefaultControl>
              </app-input-with-out-ng-form>
              <div *ngIf="submitted && f['password']?.errors" class="invalid-feedback">
                <span *ngIf="f['password']?.errors!['required']" class="wrong">password is required</span>
                <span *ngIf="f['password']?.touched && f['password']?.value ==''" class="wrong">password is
                  required</span>
              </div>
            </div>
            <div>
              <app-input-with-out-ng-form cssLabel="label" formControlName="samePassword" css="champ" type="password"
                name="Password" label="Confirme password" (value)="setSamePassword($event)" ngDefaultControl>
              </app-input-with-out-ng-form>
              <div *ngIf="submitted && f['samePassword'].errors" cla ss="invalid-feedback">
                <div *ngIf="f['samePassword'].errors['required']">
                  <span class="wrong">password is required</span>

                  <!-- bug, je ne comprend pas pourquoi -->
                  <!-- <div *ngIf="f['email'].touched" class="invalid-feedback">
                    <div *ngIf="f['samePassword'].errors?.['required']">
                      <span class="wrong">password is required</span>
                    </div>
                  </div> -->

                </div>
              </div>
            </div>
            <div formArrayName="telephones">
              <div *ngFor="let telephone of telephones.controls; let i=index;let first=first " [formGroupName]="i">
                <app-input-with-out-ng-form
                    cssLabel="label" formControlName="phoneNumber" css="champ" type="text"
                    name="telephone" label="Enter your phone" (value)="setTelephone($event,i)"
                    ngDefaultControl
                    >
                </app-input-with-out-ng-form>
                <span (click)="remove(i)" *ngIf="!first">Remove</span>
                <div *ngIf="submitted && getNumberTelephone(i)?.errors" class="invalid-feedback">
                    <span class="wrong">telephone is required</span>
                </div>
              </div>
            </div>
          </div>
          <!-- <app-btn name="ajout telephone" css="btn" (clickEmitter)="addTelephone()">
          </app-btn> -->
          <!-- <button (click)="addTelephone()">ajoute telephone</button> -->
          <app-btn (click)="addTelephone()" name="ajout telephone" css="btn"></app-btn>

          <app-btn name="Sign in" css="btn" type="submit">
          </app-btn>
        </form>
        <!-- /********************** logo **********************/ -->

        <div class="logo">
          <div class="logo-mobile"><img src="/assets/img/solo-logo-octom.png" alt="logo-login" /></div>
          <div class="nom-entreprise">OCTOM</div>
        </div>
      </div>
      <div class="signature">
        <div class="signature-gauche">
          <img class="logo-signature" src="/assets/img/logo-unicorn.png" alt="logo-signature">
          <a class="insta" href="">@uiunicom</a>
        </div>
        <span class="dateCrea">©Perfect Login 2021</span>
      </div>
    </div>
  </div>
