:host{
 width: 100%;
 .btn{
      cursor: pointer;
      padding: 10px 24px;
      margin: 24px 0 24px 0;
      color: white;
      width: 100%;
      justify-content: stretch;
      background: #007aff;
      border-radius: 6px;
  }
}

#google{
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  background: #333333;
 }

