:host{
 width: 100%;
 .btn{
      cursor: pointer;
      padding: 10px 24px;
      margin: 24px 0 24px 0;
      color: white;
      width: 100%;
      justify-content: stretch;
      /* System-Blue (#007AFF) */
        background: #007aff;


      border-radius: 6px;
      border: 2px solid green;

  }

}

#google{
   background: #333333;

 }

