.section,.elements{
  margin-top: 5%;
  margin-left: 64px;
  width: 333px;
  height: 947px;


  background: #212229;
 /* position: relative;
  width: 1440px;
  height: 1024px;

  background: #FFFFFF; */
}

