.logo {
  display: flex;
  width: 100%;
  color: black;
  background-color: black;
}

.page-discution {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.discution {
  background-color: #131517;
  height: 100%;
  width: 100%;
}

.messages {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}

.message {
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
}
