input.apple-switch {
  align-items: center;
  position: relative;
  appearance: none; outline: none;
  width:  37px; height: 17px;
  background-color: #ffffff;
  border: 1px solid #dcd9d94e;
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 #5c5b5b14;
  transition-duration: 200ms;
  }

  input.apple-switch:checked {
    border-color: #4ED164;
    box-shadow: inset 20px 0 0 0 #4ED164;
    }

    input.apple-switch:checked:after {
      left: 20px;
      box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
      }
